name: test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["2.7", "3.0", "3.1", "3.2", "3.3"]
        rails: ["rails5", "rails6", "rails7"]
        database: ["sqlite", "postgres", "mysql"]
        exclude:
          - ruby: "3.0"
            rails: "rails5"
          - ruby: "3.1"
            rails: "rails5"
          - ruby: "3.2"
            rails: "rails5"
          - ruby: "3.3"
            rails: "rails5"
        include:
          - ruby: "3.3"
            rails: "rails7-trilogy"
            database: "mysql"
    services:
      postgres:
        image: styriadigital/postgres_hstore:10
        env:
          POSTGRES_USER: search_cop
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: search_cop
        ports:
          - 5432:5432
      mysql:
        image: mysql
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
          MYSQL_ROOT_PASSWORD: ""
          MYSQL_DATABASE: search_cop
        ports:
          - 3306:3306
    env:
      BUNDLE_PATH: ../vendor/bundle
    steps:
      - uses: actions/checkout@v1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: test
        env:
          DATABASE: ${{ matrix.database }}
        run: |
          bundle config set --local gemfile "gemfiles/${{ matrix.rails }}.gemfile"
          bundle install
          bundle exec rake test
